@font-face {
    font-family: 'Roboto';
    src: url('./public/src/Roboto/Roboto-Medium.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Roboto";
}

.nav-link.text-white {
    font-size: 1em;
    transition: font-size 0.3s ease, color 0.3s ease;
}

.nav-link.text-white:hover {
    color: #FF928A !important;
    font-size: 1.2em;
}

.bg-custom-color {
    background-color: #72F2EB;
}

.bg-custom-top {
    background-color: #34BFB9;
}

.btn-custom-color {
    background-color: #FF5F5D;
    border-color: #FF5F5D;
}

.background-image {
    background-image: url('./public/src/tree.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}
.formulario-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    text-align: left;
}

.formulario-grid .form-group {
    display: flex;
    flex-direction: column;
}
.translate-middle-x {
    left: 50%;
    transform: translateX(-50%);
}

.position-absolute-centered {
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.bg-custom-form {
    background-color: #FF5F5D;
    height: auto;
    max-height: 250px;
    overflow-y: auto;
}

.custom-width {
    width: 300px;
}
.slider-categorias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #333;
    color: white;
    padding: 20px;
}

.img-plan{
    width: 200px;
    height: 200px;
}

.bg-plan-par{
    background-color: #ececec;
}

.bg-plan-impar{
    background-color: #dddddd;
}

.slider-item{
    position: absolute; top: 0%; left: 50%; transform: translate(-50%, -50%);
}

.paginacion{
    padding:15px;
    
}

.paginacion span a{
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #FF5F5D;
    background-color: #cfcfcf;
    color: #c62833;
    margin-left: 8px;
    margin-right: 8px;
    text-decoration: none;
}

.paginacion span a.actual {
    color: #34BFB9;
    border: 1px solid #34BFB9;
}

.spacer{
    margin-bottom: 20px;
    margin-left:10px;
}